<html xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0" th:fragment="topbar">
    <div class="navbar-header">
      <a sec:authorize="isAuthenticated()"  class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
        <i class="fa fa-bars"></i>
      </a>
      
    </div>
    <ul class="nav navbar-top-links navbar-right" >
 
      
      <li sec:authorize="!isAuthenticated()" >
        <a th:href="@{/login}">
          <i class="fa fa-sign-out"></i> Entrar
        </a>
      </li>
      <li sec:authorize="isAuthenticated()">
      <a th:href="@{/logout}"><i class="fa fa-sign-out">  </i> Salir  </a>
    </li>
    </ul>

  </nav>

</body>

</html>
